  .navbar-dark .navbar-text {
     /* color: rgba(255,255,255,.5); */
    color: #fff;
}
.imaage-custom{
  // height: 50px;
  padding: 0px;
  width: 100px;
}
.h3, h3 {
  font-size: 1.5rem;
}

.header {
  width:auto;
  min-height: 80px;
  background: rgba(0,0,0,.87)  ;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.87) !important;
}