<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container-fluid text-white">
    <img src="assets/icon/vzw1-wr.png"  class="imaage-custom">

    <!-- <div > -->
      
      <h3 class=" text-center   text-white text-capitalize"> IP packet decoder</h3>
    <!-- </div> -->
    <div class="navbar-expand pull-right">
      <!-- <div class="navbar-nav">
        IP packet decoder
        <a class="nav-item nav-link" [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="nav-item nav-link" [routerLink]="['/about']" [routerLinkActive]="'active'">IP packet decoder</a>
        <a class="nav-item nav-link" [routerLink]="['/contact']" [routerLinkActive]="'active'">Contact</a>
      </div> -->
    </div>
  </div>
</nav>
 
 <!-- <div class="header mb-5 text-white">
    <div >
      <img src="assets/icon/Verizon.png">
      <h3 class=" text-center  p-3 text-white text-capitalize"> IP packet decoder</h3>
    </div>
  </div>  -->

  <!-- <nav class="navbar navbar-dark bg-dark mt-5">
    <div class="navbar-expand m-auto navbar-text">
       
              <h3 class=" text-center  p-3 text-white text-capitalize"> IP packet decoder</h3>
           
    </div>
  </nav> -->





