.text-footer{
    color: #fff!important;
    font-size: 12px;
  }
//   .footer {
//     width:auto;
//     min-height: 80px;
//     background: rgba(253, 198, 198, 0.87)  ;
//   }

  .navbar-dark .navbar-text {
    /* color: rgba(255,255,255,.5); */
    color: #fff;
}


.bg-dark {
    background-color: rgba(0, 0, 0, 0.87) !important;
}