 <app-header> </app-header> 

<section class="main input-form">
  
   <!-- <div class="header mb-5">
    <div >
      <h3 class=" text-center  p-3 text-white text-capitalize"> IP packet decoder</h3>
    </div>
  </div>  -->
  <form [formGroup]="inputForm" >
    <div class="section text-center">
      <!-- <h1 class="font text-capitalize m-5">hex packetor</h1> -->
      <textarea class="inputBox col-md-6 " formControlName="hexDump"  [(ngModel)]="hexDump" > 
      </textarea>
    </div>
    <div class="text-center p-4">
      <p id="noteMultiple" ><span id="asteric">&#42;</span>Multiple hexdumps can be uploaded in a single file separated by new line. <a href="assets/Sample.txt" download class="sampleTxt" >Click Here</a> to download sample file.</p>
      <!-- <button type="submit" class=" btn-decode  text-capitalize" (click)="downloadSample(inputForm.value)">sample</button> -->
      <button type="submit" class=" btn-decode btn btn-primary text-capitalize" (click)="decode(inputForm.value)">decode</button>
      <div class="file ml-2 upload btn btn-primary">Upload <input  type="file"  id="file" #userFile (change)="handleFileInput($event.target.files)">
      </div>
    </div>
  </form>
  <div *ngIf="outputBox" class="container col-md-6 mb-5 mt-5">
    <div class="card">
      <div class="card-body">
        <div *ngIf="singlePacket">
          <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  data-target="#demo"></i>  <span class="text-capitalize text"  data-toggle="collapse" data-target="#demo">IP packet </span> <br/>
          <ul id="demo" class="collapse" style="transition:  2s;">
            <li *ngFor="let key of keys let i=index;  " class=" text-capitalize" >{{key}}  :{{ipPacketData[key]}} </li>
            <p *ngIf="tcp"><i class="fa fa-caret-right m-2"  data-toggle="collapse" data-target="#demo1"></i><span class="text-capitalize text" data-toggle="collapse" data-target="#demo1">Tcp packet </span></p>
            <p *ngIf="udp"><i class="fa fa-caret-right m-2"  data-toggle="collapse" data-target="#demo1"></i><span class="text-capitalize text" data-toggle="collapse" data-target="#demo1">User Datagram Protocol(UDP) </span></p>
            <ul id="demo1" class="collapse" *ngIf="tcp || udp" style="transition:  2s;">
              <span *ngFor="let key2 of tcpDataKey" class="{{key2}}" >
                <li *ngIf="key2 !=='SMTP'  && key2 !=='TLS' && key2 !== 'SIP'">{{key2}}:{{TCPData[key2]}}  </li>
              </span>
            
                <span *ngFor="let key1 of tcpDataKey" class="{{key1}}" >

                <span *ngIf="key1=='SMTP'">
                  <i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demosmtp"></i><span class="text-capitalize text" data-toggle="collapse" data-target="#demosmtp">Simple Mail Transfer Protocol(SMTP) </span>
                  <ul id="demosmtp" class="collapse" style="transition:  2s;">
                    <span *ngFor="let smtpobj of TCPData[key1] ">
                      <li *ngFor="let smtp of smtpobj | keyvalue;"> {{smtp.key}} : {{smtp.value}} </li>
                    </span>
                  </ul>
                </span>
                <!-- tls packet -->
                <span *ngIf="key1=='TLS'">
                  <i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demotls"></i><span class="text-capitalize text" data-toggle="collapse" data-target="#demotls">TLS packet </span>
                  <ul id="demotls" class="collapse" style="transition:  2s;">
                    <!-- tls multiple layer -->
                    <div *ngFor="let tlslist of  TCPData[key1] | keyvalue;let j=index" class="text-capitalize">
                      <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test'+tlslist.key"></i> 
                      <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test'+tlslist.key" >TLS Record Layer {{j+1}}</span> <br/>
                      <div id="test{{tlslist.key}}" class="collapse" style="transition:  2s;" >
                        <div *ngFor ="let tlsobj of tlslist.value | keyvalue;" >
                          <li >{{tlsobj.key}}: {{tlsobj.value}}</li>
                          <!-- <ng-template #other_content id="demo3" class="collapse" style="transition:  2s;">
                            <li >{{tlsobj.key}}: {{tlsobj.value}}</li>
                          </ng-template> -->
                        </div>
                      
                        <div *ngFor ="let ip of tlslist.value | keyvalue ;let p=index" >
                          <div *ngIf="ip.key == 'Handshake Protocol';" >
                            <p *ngIf="ip.key == 'Handshake Protocol'">
                              <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#ipp'+ip.key" style="transition:  2s;" >
                              </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#ipp'+ip.key">Handshake Protocol </span>
                            </p>
                            <div id="ipp{{ip.key}}" class="collapse"  style="transition:  2s;">
                              <div *ngFor ="let tcp of ip.value | keyvalue;" >         
                                 
                              <!-- <li *ngIf="tcp.key !== 'Compression Methods' && tcp.key !== 'Extension' " class="handshake">{{tcp.key}}:{{tcp.value}}</li>    -->
                                    


                                 <div *ngIf="tcp.key == 'Extension'; ">
                                  <div *ngFor="let extobj of tcp.value | keyvalue;let i=index" class="text-capitalize">
                                    <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#ext'+extobj.key"></i> 
                                    <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#ext'+extobj.key" >Extension {{i+1}}</span> <br/>
                                    <span id="ext{{extobj.key}}" class="collapse" style="transition:  2s;" >
                                    <span *ngFor ="let ex of extobj.value | keyvalue;" >{{ex.key}}: {{ex.value}}<br> </span> 
                                    </span>
                                  </div>
                                </div> 
                                <div *ngIf="tcp.key == 'Compression Methods'; ">
                                  <div *ngFor="let cmpobj of tcp.value | keyvalue;let k=index" class="text-capitalize">
                                    <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#cmp'+cmpobj.key"></i> 
                                    <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#cmp'+cmpobj.key" >Compression Method {{k+1}}</span> <br/>
                                    <span id="cmp{{cmpobj.key}}" class="collapse" style="transition:  2s;" >
                                    <span *ngFor ="let cmobj of cmpobj.value | keyvalue;" >{{cmobj.key}}: {{cmobj.value}}<br> </span> 
                                    </span>
                                  </div>
                                </div>
                                

                                <ng-template #other_content class="collapse" style="transition:  2s;">
                                  <li *ngIf="tcp.key !== 'Compression Methods' && tcp.key !== 'Extension' " class="handshake">{{tcp.key}}:{{tcp.value}}</li>   
                                </ng-template> 

                                
                              </div>



                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ul>
                </span>
                <!-- Session Initiation Protocol -->    
                              

<span *ngIf="key1=='SIP'">
  <i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demoSip2"></i><span class="text-capitalize text" data-toggle="collapse" data-target="#demoSip2">Session Initiation Protocol(SIP)</span>
  <ul>
      <!-- sip multiple layer -->
      <div *ngFor="let siplist of  TCPData[key1] | keyvalue;let j=index" class="text-capitalize collapse" id="demoSip2"  style="transition:  2s;">         
          <div *ngFor ="let sip of siplist.value | keyvalue;" >
              <li *ngIf="sip.key !== 'Message Header' && sip.key !== 'Message Body'">{{sip.key}}: {{sip.value}}</li>              
            </div>
            <div *ngFor ="let sipheader of siplist.value | keyvalue;" >                
              <div *ngIf="sipheader.key == 'Message Header'" >
                <p *ngIf="sipheader.key == 'Message Header'">
                  <i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demo_@msgheader" style="transition:  2s;" >
                  </i><span class="text-capitalize text" data-toggle="collapse" data-target="#demo_@msgheader">Message Header </span>
                </p>
                <div id="demo_@msgheader" class="collapse" data-target="#demo_@msgheader" style="transition:  2s;">
                  <div *ngFor ="let msgHeader of sipheader.value | keyvalue;">
                    <ul >
                      <li style="list-style-type: circle;">{{msgHeader.value}}</li>
                    </ul>
                  </div>
                </div>
              </div>               
            </div>               
            
            <div *ngFor ="let sip2 of siplist.value | keyvalue;" >               
              <div *ngIf="sip2.key == 'Message Body'" >
                  <p *ngIf="sip2.key == 'Message Body'">
                    <i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demo_@msgBody" style="transition:  2s;" >
                    </i><span class="text-capitalize text" data-toggle="collapse" data-target="#demo_@msgBody">Message Body </span>
                  </p>
                  <div id="demo_@msgBody" class="collapse" data-target="#demo_@msgBody" style="transition:  2s;">
                    <div *ngFor ="let msgBody of sip2.value | keyvalue;">
                      <div *ngFor ="let msg of msgBody.value | keyvalue;">                        
                      <ul >
                        <li style="list-style-type: circle;">{{msg.key}}:{{msg.value}}</li>
                      </ul>
                      </div>
                    </div>
                  </div>
                </div> 
            </div> 

      </div>
    </ul>
</span>

</span>


              <p *ngIf="http"><i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demo2"></i><span class="text-capitalize text" data-toggle="collapse" data-target="#demo2">HTTP packet </span></p>
              <ul id="demo2" class="collapse" style="transition:  2s;">
                <li *ngFor="let key2 of HttpDataKey">{{key2}} :{{HttpData[key2]}} </li>
              </ul>
              <!-- <p *ngIf="http"><i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demo2"></i><span class="text-capitalize text" data-toggle="collapse" data-target="#demo2">Http packet </span></p>
              <ul id="demo2" class="collapse" style="transition:  2s;">
                <li *ngFor="let key2 of HttpDataKey">{{key2}} :{{HttpData[key2]}} </li>
              </ul> -->
            </ul>
            <p *ngIf="sctp"><i class="fa fa-caret-right m-2"  data-toggle="collapse" data-target="#demoSctp"></i><span class="text-capitalize text" data-toggle="collapse" data-target="#demoSctp">Stream Control Transmission Protocol (SCTP)  </span></p>
            <ul id="demoSctp" class="collapse" *ngIf="sctp" style="transition:  2s;">
              <li *ngFor="let key1 of sctpDataKey"  ><span > {{key1}} :{{SCTPData[key1]}} </span>                       
              </li>
            </ul>
          </ul>
        </div>

        
        <div *ngIf="multiplePacket">
          <div *ngFor="let file of multipleFile | keyvalue:unsorted;let j=index" class="text-capitalize">
            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test'+file.key"></i> 
            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test'+file.key" >Internet Protocol(IP) {{j+1}}</span> <br/>
            <div id="test{{file.key}}" class="collapse" style="transition:  2s;" >
              <div *ngFor ="let ipobj of file.value | keyvalue:unsorted;" >
                <div *ngFor ="let ip of ipobj.value | keyvalue:unsorted;" >
                <ng-template #other_content id="demo3" class="collapse" style="transition:  2s;">
                 <ul class="inner_ul"><li  *ngIf=" ip.key !== 'Hexdump' ">{{ip.key}}: {{ip.value}}</li></ul>
                  <!-- {{ip.key}} : {{ip.value}}  [attr.data-target]="'#test'+file.key" -->
                </ng-template>
                <div *ngIf="ip.key == 'TCP' || ip.key == 'UDP' || ip.key == 'SCTP' ;else other_content" >
                  <p *ngIf="ip.key == 'TCP'">
                    
                    <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@4'+file.key+j" style="transition:  2s;" >
                    </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@4'+file.key+j">Transmission Control Protocol(TCP) </span>
                  </p>
                  
                  <p *ngIf="ip.key == 'UDP'">
                    <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@4'+file.key+j" style="transition:  2s;" >
                    </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@4'+file.key+j">User Datagram Protocol(UDP) </span>
                  </p>

                  <!-- <p *ngIf="ip.key == 'UDP'">
                    <i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demo_@4" style="transition:  2s;" >
                    </i><span class="text-capitalize text" data-toggle="collapse" data-target="#demo_@4">User Datagram Protocol(UDP) </span>
                  </p> -->
                  <p *ngIf="ip.key == 'SCTP'">
                    <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@4'+file.key+j"style="transition:  2s;" > </i>
                    <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@4'+file.key+j">Stream Control Transmission Protocol (SCTP) </span>
                  </p>


                  <div id="demo_@4{{file.key}}{{j}}" class="collapse" style="transition:  2s;">

                    <div *ngFor ="let tcp of ip.value | keyvalue :unsorted;let k=index ">
                        
                      <div *ngIf="tcp.key == 'HTTP'; else tcpContent">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@6'+file.key+j+k"  > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@6'+file.key+j+k">HTTP packet </span>
                        <ul id="demo_@6{{file.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">
                          <li *ngFor="let htp of tcp.value | keyvalue:unsorted;"> {{htp.key}} : {{htp.value}} </li>
                        </ul>
                      </div>
                                           
                      <div *ngIf="tcp.key == 'SMTP'">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@7'+file.key+j+k"    > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@7'+file.key+j+k" >Simple Mail Transfer Protocol(SMTP) </span>
                        <ul id="demo_@7{{file.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">
                          <!-- <span  *ngIf="tcp.key == 'SMTP'">{{tcp.value}}</span>  {{smtpobj.key  |json}} : {{smtpobj.value |json}}  -->
                          <span *ngFor="let smtpobj of tcp.value ">
                            <li *ngFor="let smtp of smtpobj | keyvalue:unsorted;"> {{smtp.key}} : {{smtp.value}} </li>
                          </span>
                        </ul>
                      </div>
                      
                      <div *ngIf="tcp.key == 'FTP'">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demoFile_@7'+file.key+j+k"   > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demoFile_@7'+file.key+j+k">File Transfer Protocol(FTP) </span>
                        <div id="demoFile_@7{{file.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">
                          <!-- <span  *ngIf="tcp.key == 'SMTP'">{{tcp.value}}</span>  {{smtpobj.key  |json}} : {{smtpobj.value |json}}  -->
                          <ul *ngFor="let fileobj of tcp.value| keyvalue:unsorted; let l=index ">                            
                           
                          <span><i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test_ftp'+fileobj.key+file.key+j+k+l"></i> 
                          <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test_ftp'+fileobj.key+file.key+j+k+l" >{{fileobj.value.Line}}</span> <br>
                          </span>
                              
                            <div id="test_ftp{{fileobj.key}}{{file.key}}{{j}}{{k}}{{l}}" class="collapse" style="transition:  2s;" >
                               <ul *ngFor="let fileData of fileobj.value | keyvalue:unsorted;">
                                 <li  *ngIf="file.key !== 'Line'"> {{fileData.key}} : {{fileData.value}} </li>
                                </ul>
                            </div>
                          </ul>


                        </div>
                      </div>

                      <div *ngIf="tcp.key == 'SIP'">
                          <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@Sip'+file.key+tcp.key+j+k" > </i>
                          <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@Sip'+file.key+tcp.key+j+k">Session Initiation Protocol(SIP) </span>
                          <ul id="demo_@Sip{{file.key}}{{tcp.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">
                            <span >
                              <div *ngFor="let sip_list of  tcp.value | keyvalue:unsorted;let ks=index" class="text-capitalize">
                                              
                                  <div *ngFor ="let sip of sip_list.value | keyvalue:unsorted;let km=index" >
                                    <li *ngIf="sip.key !== 'Message Header' && sip.key !== 'Message Body'">{{sip.key}}: {{sip.value}}</li>
                                    <div *ngIf="sip.key == 'Message Header'" >
                                      <p *ngIf="sip.key == 'Message Header'">
                                        <i class="fa fa-caret-right m-2" data-toggle="collapse"   [attr.data-target]="'#demo_@msgheader'+sip_list.key+sip.key+j+k+ks+km" style="transition:  2s;" >
                                        </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@msgheader'+sip_list.key+sip.key+j+k+ks+km">Message Header </span>
                                      </p>
                                      <div id="demo_@msgheader{{sip_list.key}}{{sip.key}}{{j}}{{k}}{{ks}}{{km}}" class="collapse" data-target="#demo_@msgheader" style="transition:  2s;">
                                        <div *ngFor ="let msgHeader of sip.value | keyvalue:unsorted;">
                                          <ul >
                                            <li style="list-style-type: circle;">{{msgHeader.value}}</li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div *ngIf="sip.key == 'Message Body'" >
                                        <p *ngIf="sip.key == 'Message Body'">
                                          <i class="fa fa-caret-right m-2" data-toggle="collapse" style="transition:  2s;"  [attr.data-target]="'#demo_@msgBody'+sip.key+k+j+ks+km" >
                                          </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@msgBody'+sip.key+k+j+ks+km">Message Body </span>
                                        </p>
                                        <div id="demo_@msgBody{{sip.key}}{{k}}{{j}}{{ks}}{{km}}" class="collapse" data-target="#demo_@msgBody" style="transition:  2s;">
                                          <div *ngFor ="let msgBody of sip.value | keyvalue:unsorted;">
                                            <div *ngFor ="let msg of msgBody.value | keyvalue:unsorted;">                        
                                                <ul >
                                                  <li style="list-style-type: circle;">{{msg.key}}:{{msg.value}}</li>
                                                </ul>
                                                </div>
                                          </div>
                                        </div>
                                      </div>
                                  
                                </div>
                              </div>
                            </span>
                          </ul>
                        </div>
<!-- TLS -->
                      <div *ngIf="tcp.key == 'TLS'">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j+k"   > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j+k">Transport Layer Security(TLS) </span>
                        <ul id="demo_@tls{{tcp.key}}{{j}}{{k}}" class="collapse" style="transition:  2s;">
                          <span >
                            <div *ngFor="let tls_list of  tcp.value | keyvalue;let k=index" class="text-capitalize">
                              <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test_tls'+tls_list.key+j"></i> 
                              <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test_tls'+tls_list.key+j" >TLS Record Layer {{ tls_list.value['Content Type']}}</span> <br/>
                              <div id="test_tls{{tls_list.key}}{{j}}" class="collapse" style="transition:  2s;" >

                                <ul *ngFor ="let ip1 of tls_list.value | keyvalue:unsorted; let p=index" >
                                  <ng-template #other_content id="demo3" class="collapse" style="transition:  2s;">
                                    <li >{{ip1.key}}: {{ip1.value}}</li>
                                  </ng-template>
                                  <div *ngIf="ip1.key == 'Handshake Protocol';else other_content" >
                                    <p *ngIf="ip1.key == 'Handshake Protocol'">
                                      <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#ipp'+ip1.key+j+k"style="transition:  2s;" >
                                      </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#ipp'+ip1.key+j+k">Handshake Protocol </span>
                                    </p>
                                    <div id="ipp{{ip1.key}}{{j}}{{k}}" class="collapse" data-target="#demo_@ext" style="transition:  2s;">
                                      <ul *ngFor ="let tcp of ip1.value | keyvalue:unsorted;">
                                        <div *ngIf="tcp.key == 'Extension' else tlsContent ">
                                          <div *ngFor="let extobj of tcp.value | keyvalue;let i=index" class="text-capitalize">
                                            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#ext'+extobj.key+j"></i> 
                                            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#ext'+extobj.key+j" >Extension: {{extobj.value.Type}}</span> <br/>
                                            <ul id="ext{{extobj.key}}{{j}}" class="collapse" style="transition:  2s;" >
                                            <li *ngFor ="let ex of extobj.value | keyvalue;" >{{ex.key}}: {{ex.value}} </li> 
                                            </ul>
                                          </div>
                                        </div>
                                        <div *ngIf="tcp.key == 'Compression Methods' ">
                                          <div *ngFor="let cmpobj of tcp.value | keyvalue;let k=index" class="text-capitalize">
                                            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#cmp'+cmpobj.key+j"></i> 
                                            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#cmp'+cmpobj.key+j" >Compression Methods ({{k+1}}&nbsp;method)</span> <br/>
                                            <ul id="cmp{{cmpobj.key}}{{j}}" class="collapse" style="transition:  2s;" >
                                            <li *ngFor ="let cmobj of cmpobj.value | keyvalue:unsorted;" >{{cmobj.key}}: {{cmobj.value}} </li> 
                                            </ul>
                                          </div>
                                        </div>
                                        <ng-template #tlsContent id="demo_@5" class="collapse" style="transition:  2s;">
                                          <li *ngIf="tcp.key !== 'Compression Methods' "   >{{tcp.key}}:{{tcp.value}}</li>   
                                        </ng-template>

                                      </ul>
                                    </div>
                                  </div>


                                </ul>

                              </div>
                            </div>
                          </span>
                        </ul>
                      </div>


<!-- DTLS Start -->
                      <div *ngIf="tcp.key == 'DTLS'">
                        <i class="fa fa-caret-right m-2" data-toggle="collapse"  [attr.data-target]="'#demo_@tls'+tcp.key+j"  > </i>
                        <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j">Datagram Transport Layer Security(DTLS) </span>
                        <ul id="demo_@tls{{tcp.key}}{{j}}" class="collapse" style="transition:  2s;">
                          <span >
                            <div *ngFor="let tls_list of  tcp.value | keyvalue:unsorted;let k=index" class="text-capitalize">
                              <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test_tls'+tls_list.key+j"></i> 
                              <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test_tls'+tls_list.key+j" >DTLS Record Layer {{ tls_list.value['DTLS Content Type']}}</span> <br/>
                              <div id="test_tls{{tls_list.key}}{{j}}" class="collapse" style="transition:  2s;" >
                                <ul *ngFor ="let ip1 of tls_list.value | keyvalue:unsorted;" >
                                  <ng-template #other_content id="demo3" class="collapse" style="transition:  2s;">
                                    <li  *ngIf="ip1.key !== 'Random'">{{ip1.key}}: {{ip1.value}}</li>
                                  </ng-template>
                                  <div *ngIf="ip1.key == 'handshake';else other_content" >
                                    <p *ngIf="ip1.key == 'handshake'">
                                      <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#ipp'+ip1.key+j+k" style="transition:  2s;" >
                                      </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#ipp'+ip1.key+j+k">Handshake Protocol </span>
                                    </p>
                                    <div id="ipp{{ip1.key}}{{j}}{{k}}" class="collapse" data-target="#demo_@ext" style="transition:  2s;">
                                      <ul *ngFor ="let tcp of ip1.value | keyvalue:unsorted;">

                                        <div *ngIf="tcp.key == 'Cipher Suites' ">
                                          <p *ngIf="tcp.key == 'Cipher Suites' ">
                                              <i class="fa fa-caret-right m-2" data-toggle="collapse" data-target="#demo_@cipher" style="transition:  2s;" >
                                              </i><span class="text-capitalize text" data-toggle="collapse" data-target="#demo_@cipher">Cipher Suites</span>
                                          </p>                                          
                                          <ul id="demo_@cipher" *ngFor="let cipherSuits of tcp.value  | keyvalue:unsorted;let i=index" class="text-capitalize collapse" style="transition:  2s;">
                                          <li> {{cipherSuits.value }}</li>
                                          
                                          </ul> 
                                        </div> 


                                        <div *ngIf="tcp.key == 'Extension' else tlsContent ">
                                          <div *ngFor="let extobj of tcp.value | keyvalue:unsorted;let i=index" class="text-capitalize">
                                            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#ext'+extobj.key"></i> 
                                            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#ext'+extobj.key" >Extension: {{extobj.value.Type}}</span> <br/>
                                            <ul id="ext{{extobj.key}}" class="collapse" style="transition:  2s;" >
                                            <li *ngFor ="let ex of extobj.value | keyvalue;" >{{ex.key}}: {{ex.value}} </li> 
                                            </ul>
                                          </div>
                                        </div>
                                        <div *ngIf="tcp.key == 'Compression Methods' ">
                                          <div *ngFor="let cmpobj of tcp.value | keyvalue;let k=index" class="text-capitalize">
                                            <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#cmp'+cmpobj.key"></i> 
                                            <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#cmp'+cmpobj.key" >Compression Methods ({{k+1}}&nbsp;method)</span> <br/>
                                            <ul id="cmp{{cmpobj.key}}" class="collapse" style="transition:  2s;" >
                                            <li *ngFor ="let cmobj of cmpobj.value | keyvalue:unsorted;" >{{cmobj.key}}: {{cmobj.value}} </li> 
                                            </ul>
                                          </div>
                                        </div>
                                        <ng-template #tlsContent id="demo_@5" class="collapse" style="transition:  2s;">
                                          <li *ngIf="tcp.key !== 'Compression Methods'&& tcp.key !== 'Extension'&& tcp.key !== 'Cipher Suites' "   >{{tcp.key}}:{{tcp.value}}</li>   
                                        </ng-template>

                                      </ul>
                                    </div>
                                  </div>


                                </ul>

                              </div>
                            </div>
                          </span>
                        </ul>
                      </div>

<!-- DTLS PACKET END -->

<!-- DIAMETER  -->

<div *ngIf="tcp.key == 'Diameter Protocol'">
  <i class="fa fa-caret-right m-2" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j"  > </i>
  <span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@tls'+tcp.key+j">Diameter Protocol </span>
  <ul id="demo_@tls{{tcp.key}}{{j}}" class="collapse" style="transition:  2s;">
    <span >
      <div *ngFor="let tls_list of  tcp.value | keyvalue;let ji=index" class="text-capitalize">
        <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#test_tls'+tls_list.key+j"></i> 
        <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#test_tls'+tls_list.key+j" >Diameter Layer(Version:{{ tls_list.value['Diameter Version']}})</span> <br/>
        <div id="test_tls{{tls_list.key}}{{j}}" class="collapse" style="transition:  2s;" >

          <ul *ngFor ="let ip1 of tls_list.value | keyvalue:unsorted; let p=index" >
            <ng-template #other_content id="demo3" class="collapse" style="transition:  2s;">
              <li *ngIf=" ip1.key !== 'AVP flags (Parsed)' && ip1.key !== 'AVPsHexDump'&& ip1.key !== 'nextFragement' ">{{ip1.key}}: {{ip1.value}}</li>
            </ng-template>
             <div *ngIf="ip1.key == 'AVP flags (Parsed)' ">
                  <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#innerFlag'+ip1.key+j+p"></i> 
                  <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#innerFlag'+ip1.key+j+p" >AVP flags (Parsed)</span> <br/>
                  <ul id="innerFlag{{ip1.key}}{{j}}{{p}}" class="collapse" style="transition:  2s;" >
                    <li *ngFor ="let ex of ip1.value | keyvalue:unsorted;" >{{ex.key}}: {{ex.value}} </li>                     
                  </ul> 
              </div>
            <div *ngIf="ip1.key == 'AVPs';else other_content" >
                <div *ngFor ="let avpObj of ip1.value | keyvalue:unsorted; let avpIndex=index;">
                  <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#avpId'+j+ji+p+avpIndex"></i> 
                  <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#avpId'+j+ji+p+avpIndex" >AVPs({{avpObj.value['AVP code']}})</span> <br/>
                   <div id="avpId{{j}}{{ji}}{{p}}{{avpIndex}}" class="collapse" style="transition:  2s;"> 
                    <ul *ngFor="let avpInnerObj of avpObj.value | keyvalue:unsorted ;let innerDataIndex=index" class="text-capitalize">

                      <li *ngIf="avpInnerObj.key !== 'Data' && avpInnerObj.key !== 'AVP flags (Parsed)'&& avpInnerObj.key !== 'AVP Hexdump' && avpInnerObj.key !== 'Data Hexdump' "  >{{avpInnerObj.key}}: {{avpInnerObj.value}} </li> 
                     <div *ngIf="avpInnerObj.key == 'Data' && avpInnerObj.value !== 'Unknown' ">
                      <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#innerData'+ji+j+p+avpIndex+innerDataIndex"></i> 
                      <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#innerData'+ji+j+p+avpIndex+innerDataIndex" >Data({{avpInnerObj.value.attribute}})</span> <br/>
                      <ul id="innerData{{ji}}{{j}}{{p}}{{avpIndex}}{{innerDataIndex}}" class="collapse" style="transition:  2s;" >
                      <li *ngFor ="let ex of avpInnerObj.value | keyvalue:unsorted;" >{{ex.key}}: {{ex.value}} </li>                     
                      </ul> 
                    </div>
                    <div *ngIf="avpInnerObj.key == 'AVP flags (Parsed)' ">
                      <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#innerFlag'+ji+j+p+avpIndex+innerDataIndex"></i> 
                      <span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#innerFlag'+ji+j+p+avpIndex+innerDataIndex" >AVP flags (Parsed)</span> <br/>
                      <ul id="innerFlag{{ji}}{{j}}{{p}}{{avpIndex}}{{innerDataIndex}}" class="collapse" style="transition:  2s;" >
                      <li *ngFor ="let ex of avpInnerObj.value | keyvalue:unsorted;" >{{ex.key}}: {{ex.value}} </li>                     
                      </ul> 
                    </div>
                    </ul> 
                  </div>
                 
                </div>
              <!-- </div> -->
            </div>


          </ul>

        </div>
      </div>
    </span>
  </ul>
</div>


                <div *ngIf = "tcp.key == 'Optional Parameters'"> 
                  <p> <i class="fa fa-caret-right m-2" data-toggle="collapse"[attr.data-target]="'#demo_@optional'+tcp.key+j"  style="transition:  2s;" >
                      </i><span class="text-capitalize text" data-toggle="collapse" [attr.data-target]="'#demo_@optional'+tcp.key+j">Optional Parameters </span>
                  </p>

                  <div id="demo_@optional{{tcp.key}}{{j}}" class="collapse" data-target="#demo_@optional" style="transition:  2s;">                     
                    <div *ngFor="let cmpobj of tcp.value | keyvalue;let ki=index" class="text-capitalize">
                      <i class="fa fa-caret-right fa-caret-down m-2" data-toggle="collapse"  [attr.data-target]="'#cmp'+cmpobj.key+tcp.key+j+ki"></i><span class="text-capitalize text"   data-toggle="collapse" [attr.data-target]="'#cmp'+cmpobj.key+tcp.key+j+ki" >Parameter Type: {{cmpobj.value['Parameter Type']}}</span> 
                      <ul id="cmp{{cmpobj.key}}{{tcp.key}}{{j}}{{ki}}" class="collapse" style="transition:  2s;" >
                      <li *ngFor ="let cmobj of cmpobj.value | keyvalue:unsorted;" >{{cmobj.key}}: {{cmobj.value}} </li> 
                      </ul>
                    </div>

                  </div>
                </div>


                      <ng-template #tcpContent id="demo_@5" class="collapse" style="transition:  2s;">
                        <!-- <ng-container *ngIf="hexDump">
                          {{null}}
                          </ng-container>  {{tcp.key}}    : {{tcp.value}} -->   
                      <ul class="inner_ul"> <li  *ngIf=" tcp.key !== 'SMTP' && tcp.key !== 'TLS' && tcp.key !== 'FTP' && tcp.key !== 'Diameter Protocol'  && tcp.key !== 'DTLS' && tcp.key !== 'Optional Parameters' && tcp.key !== 'SIP' && tcp.key !== 'SIP'   ">{{tcp.key}}:{{tcp.value}}</li>  </ul>                       
                      </ng-template>
                    </div>
                  </div>

                </div>

              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center m-3">
      <button type="button" class=" btn-decode  text-capitalize" (click)="downloadJson()">download result</button>
    </div>
  </div>

  
  
  
    
 
 
</section>
<app-footer> </app-footer>
