.main {
   width: auto;
   // min-height: 100vh;
   min-height: fit-content;
    // background: #f0f2f7;
}
.header {
    width:auto;
    min-height: 80px;
    background: rgba(0,0,0,.87)  ;
}
.input-form{
  min-height: 516px;
}

// .card-body {  
//   overflow-x: scroll;
// }

// li {
//   display: inline-block; 
//   //list-style: circle;
// }

.font {
    color: rgba(0,0,0,.87) ;
}
.inputBox {
    // resize: none;
    max-width: 800px;
    min-height: 180px;
    // padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-family: monospace;
    font-size: x-large;
    // background-color: inherit
}
.container {
    max-width: 800px;
    // min-height: 180px;
    // padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-family: monospace;
    font-size: x-large;
}

.btn-decode {
    background-color: rgba(0,0,0,.87) ;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn-decode:hover {opacity: 1}

  .upload {
    background-color: rgba(0,0,0,.87) ;
    position: relative;
    overflow: hidden;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    
  }
  .upload:hover { opacity: 1; }
  input[type="file"] {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }
.text {
    font-weight: 900;
}
.sampleTxt{
  
  font-weight: 700;
  text-decoration: underline;
}
#noteMultiple{
  color: #808080;
}
.SIP, .tlsPacket, .list{
  list-style-type: none;
}
.handshake{
 list-style: circle;
}
.inner_ul{
  margin-top: -9px;
}

// #asteric{
//   font-size: 22px;
// }
